@model ErrorViewModel
<div class="text-center">
	<span class="text-danger display-1 fa-solid @Model.Icon"></span>
	<h1 class="text-danger display-3">@Model.Title</h1>
	<div class="lead">@Model.Description</div>
</div>
